.jumbotron {
    background-image: url("img/surf03.jpeg");
    background-size: cover;
    height: 40vh;
  }

.btn-primary {
    background-color: #489186;
    border: white;
  }

.btn-primary:hover {
    background-color: #307268;
    border: white;
  }

  .btn-secondary {
    background-color: #4e5356;
    border: white;
  }
  
  .btn-outline-primary {
    background-color: white;;
    color: #489186;
    border-color: #489186;
  }
  .btn-outline-primary:hover {
    background-color: #307268;
    color: white;
    border-color: white;
  }

  .temoignages {
    width: 35rem;
  }


  @media only screen and (max-width: 600px) {
    .temoignages {
      width: 80%;
    }
  }